        <!--Add a nav bar here -->
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-header">
                <a class="navbar-brand" ref="#">Best Cars</a>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href=".">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <b>Address: </b>Ceelasha-Biyaha<br/>
        <b>Telephone Number: </b>+252618411414
